.projects--section {
  margin: 1rem 0 0 5rem;
}

.projects--menu::before {
  content: "";
  position: absolute;
  top: 1rem;
  left: -3rem;
  height: calc(100% - 1rem);
  width: 1px;
  background: var(--vertical-gradient);
}

.project-title {
  margin-bottom: 1rem;
}

.project-skills {
  background: var(--text-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.project-description {
  max-width: 50rem;
  margin: 2rem 0;
  line-height: 2rem;
}

.project-link {
  font-size: 1.3rem;
  margin-right: 2rem;
  transition: var(--transition);
  color: var(--light);
}

.project-link::before {
  content: "";
  width: 4.6rem;
  height: 1px;
  position: absolute;
  bottom: -3px;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
  background: var(--horizontal-gradient);
}
.project-link:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.project-link:nth-of-type(2)::before {
  width: 9.8rem;
}

.project-link:hover {
  transform: scale(1.1);
  color: var(--white);
  cursor: pointer;
}
