.projects--section {
  position: relative;
  z-index: 2;
}

.projects--menu {
  position: absolute;
  top: 22rem;
  left: 40rem;
}
.projects--menu::before {
  content: "";
  position: absolute;
  top: 0;
  left: -3rem;
  height: 100%;
  width: 1px;
  background: var(--vertical-gradient);
}

.projects--project:not(:last-of-type) {
  margin-bottom: 3rem;
}

.projects--project-title {
  margin-bottom: 0.2rem;
}

.projects--project-div {
  display: flex;
  align-items: center;
  width: 36rem;
  justify-content: space-between;
}

.projects--project-div > p {
  margin-right: 3rem;
}

.projects--project-link {
  font-size: 1.3rem;
  transition: var(--transition);
  color: var(--light);
  cursor: pointer;
}

.projects--project-link::before {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: -3px;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
  background: var(--horizontal-gradient);
}

.projects--project-link:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.projects--project-link:hover {
  transform: scale(1.1);
  color: var(--white);
}
