.hero--section {
  position: relative;
}

.hero--description {
  width: 60%;
  margin: -4rem 0 0 12rem;
}

.hero--description > h1 {
  margin-bottom: 3rem;
}

.hero--description > p {
  width: 50rem;
  margin-left: 3rem;
  position: relative;
}

.hero--description > p::before {
  content: "";
  position: absolute;
  top: 0;
  left: -3rem;
  height: 100%;
  width: 1px;
  background: var(--vertical-gradient);
}

.hero--description > p > span {
  color: var(--white);
}
