.hero--section {
  position: relative;
}

.hero--description {
  margin-top: -4rem;
  width: 60%;
  margin-left: 12rem;
}

.hero--description > h1 {
  margin-bottom: 3rem;
}

.hero--description > p {
  padding-right: 8rem;
  position: relative;
  transform: translateX(2rem);
}
.hero--description > p::before {
  content: "";
  position: absolute;
  left: -3rem;
  width: 1px;
  height: 100%;
  background: var(--vertical-gradient);
}

.hero--description > p > span {
  color: var(--white);
}
