.skills--grid {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(3, 1fr);
  margin-top: 5rem;
}

.skills--skill {
  width: fit-content;
  margin-bottom: 2rem;
  padding: 2rem;
  transition: var(--transition);
  cursor: default;
}

.skills--skill:hover {
  transform: var(--scale-s);
}

.skills--skill > p {
  transition: var(--transition);
}

.skills--current {
  font-size: 2.4rem;
}

/* -------- MEDIA QUERIES -------- */
/* ******************************* */
@media (max-width: 420px) {
  .skills--grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .skills--skill {
    padding: 1rem;
  }
}
