.skills--grid {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(3, 1fr);
  margin-top: 5rem;
}

.skills--skill {
  width: fit-content;
  margin-bottom: 2rem;
  padding: 1rem;
  transition: var(--transition);
  cursor: default;
}

.skills--skill:hover {
  transform: var(--scale-l);
}

/* -------- MEDIA QUERIES -------- */
/* ******************************* */
@media (max-width: 768px) {
  .skills--grid {
    margin-top: 0;
  }

  .skills--skill {
    padding: 2.8rem 0.2rem;
  }
}
