#preloader {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  color: var(--light);
  z-index: 9999;
}

#preloader-portfolio {
  color: var(--white);
  margin-left: 2rem;
}

#preloader-text {
  animation: fade 4s 1s forwards;
  opacity: 0;
  display: flex;
  align-items: center;
}

@keyframes fade {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
