.home--section > h1 {
  margin-bottom: 1.4rem;
}

.home--section > p {
  margin-left: 3rem;
  padding-right: 6rem;
  position: relative;
}

.home--section > p::before {
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0;
  left: -3rem;
  background: var(--gradient-vertical);
}

.home--section > p > span {
  color: var(--white);
}

@media (max-width: 768px) {
}
