header {
  width: 100%;
  padding: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 3;
}

.nav--logo {
  width: 4.6rem;
  transition: var(--transition);
}

.nav--logo:hover {
  transform: var(--scale-s);
}

.nav--icon {
  font-size: 2.4rem;
  margin-left: 3rem;
  transition: var(--transition);
}
.nav--icon:hover {
  transform: var(--scale-l);
  cursor: pointer;
}

.nav--icon-one:hover {
  color: #ff0000;
}

.nav--icon-two:hover {
  color: #f1502f;
}

.nav--icon-three:hover {
  color: #c13584;
}

/* -------- MEDIA QUERIES -------- */
/* ******************************* */
@media (max-width: 768px) {
  header {
    padding: 2rem;
  }

  .nav--logo {
    padding-top: 1rem;
    margin-left: 1rem;
    width: 4rem;
  }

  .nav--icon {
    margin-left: 2rem;
  }
}

@media (max-width: 380px) {
}
