header {
  width: 100%;
  max-width: 1920px;
  padding: 5rem 10rem;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 3;
}

.nav--logo {
  width: 5rem;
  transition: var(--transition);
}
.nav--logo:hover {
  transform: var(--scale-s);
}

.nav--icon {
  font-size: 2.4rem;
  margin-left: 3rem;
  transition: var(--transition);
}
.nav--icon:hover {
  transform: var(--scale-l);
  cursor: pointer;
}

.nav--icon-one:hover {
  color: #ff0000;
}

.nav--icon-two:hover {
  color: #f1502f;
}

.nav--icon-three:hover {
  color: #c13584;
}
