@font-face {
  font-family: "System Code";
  src: url(/src/assets/fonts/system-code-regular.ttf);
}

:root {
  --white: #ffffff;
  --light: #bebebe;
  --dark: #131313;
  --black: #000000;

  --gradient-horizontal: linear-gradient(90deg, #ff4858 2%, #72f2eb 98%);
  --gradient-vertical: linear-gradient(180deg, #ff4858 2%, #72f2eb 98%);
  --gradient-text: -webkit-linear-gradient(20deg, #72f2eb 2%, #ff4858 98%);

  --scale-xs: scale(1.1);
  --scale-s: scale(1.2);
  --scale-l: scale(1.4);

  --transition: all 0.4s ease;
}

html {
  font-family: "System Code", monospace;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  max-width: 1920px;
  min-height: 100vh;
  font-size: 1.6rem;
  letter-spacing: 2px;
  background-color: var(--dark);
  color: var(--light);
  overflow: hidden;
}

section {
  width: 60rem;
  z-index: 1;
}

a {
  color: var(--light);
}

h1,
h2,
h3,
h4,
p,
small {
  cursor: default;
}

h1 {
  font-size: 10rem;
  font-weight: 400;
}

h2 {
  font-size: 6.6rem;
}

h3 {
  font-size: 3.4rem;
}

p {
  font-weight: 400;
  line-height: 2rem;
}

small {
  font-size: 1.3rem;
}

.wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.visible {
  animation: fadeIn 1s ease-in forwards;
  display: block;
}

.invisible {
  animation: fadeOut 1s ease-out forwards;
  display: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media (max-width: 1024px) {
  section {
    transform: scale(0.9);
    padding: 0 2rem;
  }
}

@media (max-width: 768px) {
  body {
    overflow: inherit;
    text-align: center;
  }

  section {
    /* height: 100%; */
    padding-top: 20rem;
    width: 80vw;
  }

  h1 {
    font-size: 6rem;
  }

  h2 {
    font-size: 6rem;
  }

  h3 {
    font-size: 3.4rem;
  }

  p {
    font-size: 1.4rem;
    line-height: 2.6rem;
  }

  .wrapper {
    flex-direction: column;
    height: 120vh;
    background-color: red;
  }
}
