.nav--section {
  width: 100%;
  height: 100%;
  max-width: 1920px;
  position: absolute;
  top: 0;
  left: 0;
}

.nav--menu {
  width: 16.5rem;
  height: 25rem;
  position: absolute;
  bottom: 22rem;
  right: 25rem;
  z-index: 3;
}

.nav--menu > h3 {
  position: absolute;
  top: 4rem;
  left: 1rem;
}

.nav--menu > ul {
  padding: 3rem;
  position: absolute;
  bottom: -6rem;
}
.nav--menu > ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 90px;
  background: var(--gradient-vertical);
}
.nav--menu > ul::after {
  content: "";
  width: 90px;
  height: 1px;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--gradient-horizontal);
}

.nav--menu > ul > li {
  width: fit-content;
  margin-bottom: 1.8rem;
  transition: var(--transition);
  position: relative;
  cursor: pointer;
}

.nav--menu > ul > li::before {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: -3px;
  background-color: var(--light);
  background: var(--gradient-horizontal);
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}
.nav--menu > ul > li:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.nav--link.active {
  color: var(--white);
}

/* --------------------- */
/* ----- Copyright ----- */
/* --------------------- */
.copyright {
  position: absolute;
  bottom: 4rem;
  right: 10rem;
}

/* ------------------------ */
/* --- HORIZONTAL LINES --- */
/* ------------------------ */
.line--top-horizontal {
  width: 300px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 4%;
  border-top-left-radius: 1rem;
  background: var(--gradient-horizontal);
  opacity: 0.4;
}

.line--bottom-horizontal {
  width: 300px;
  height: 20px;
  position: absolute;
  bottom: 0;
  right: 4%;
  border-bottom-right-radius: 1rem;
  background: var(--gradient-horizontal);
  opacity: 0.4;
}

/* -------------------------- */
/* ----- VERTICAL LINES ----- */
/* -------------------------- */
.line--top-vertical {
  width: 20px;
  height: 270px;
  position: absolute;
  top: 20px;
  left: 4%;
  background: var(--gradient-vertical);
  opacity: 0.4;
}

.line--bottom-vertical {
  width: 20px;
  height: 270px;
  position: absolute;
  bottom: 20px;
  right: 4%;
  background: var(--gradient-vertical);
  opacity: 0.4;
}

/* -------------------------------- */
/* --- OVERLAYS TO CREATE EDGES --- */
/* -------------------------------- */
.line--top-horizontal::after {
  content: "";
  width: 2rem;
  height: 4rem;
  position: absolute;
  top: 0;
  right: -1px;
  background-color: var(--dark);
  transform: rotate(50deg);
}

.line--top-vertical::after {
  content: "";
  width: 2rem;
  height: 4rem;
  position: absolute;
  bottom: -20px;
  right: -1px;
  background-color: var(--dark);
  transform: rotate(50deg);
}

.line--bottom-horizontal::after {
  content: "";
  width: 2rem;
  height: 4rem;
  position: absolute;
  top: -16px;
  left: -1px;
  background-color: var(--dark);
  transform: rotate(50deg);
}

.line--bottom-vertical::after {
  content: "";
  width: 2rem;
  height: 4rem;
  position: absolute;
  top: -28px;
  right: -1px;
  background-color: var(--dark);
  transform: rotate(50deg);
}
