.nav--section {
  z-index: 999;
}

.nav--section > h3 {
  margin: 5rem 0 2.6rem;
}

.nav--menu {
  padding: 3rem;
  position: relative;
}

.nav--menu::before {
  content: "";
  width: 1px;
  height: 90px;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--gradient-vertical);
}

.nav--menu::after {
  content: "";
  width: 90px;
  height: 1px;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--gradient-horizontal);
}

.nav--link {
  width: fit-content;
  margin-bottom: 1.8rem;
  transition: var(--transition);
  position: relative;
  cursor: pointer;
}

.nav--link::before {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: -3px;
  background: var(--gradient-horizontal);
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.nav--link:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.nav--link > .active {
  color: var(--white);
}

.copyright {
  position: fixed;
  bottom: 4rem;
  right: 10rem;
}

/* -------- MEDIA QUERIES -------- */
/* ******************************* */
@media (max-width: 1400px) {
  .copyright {
    right: 5rem;
  }
}

@media (max-width: 1024px) {
  .nav--section {
    transform: scale(0.9);
  }
}

@media (max-width: 900px) {
  .nav--section {
    transform: scale(0.9);
  }
}

@media (max-width: 768px) {
  .nav--section {
    width: 100vw;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scale(1);
  }

  .nav--section > h3,
  .nav--menu::before,
  .nav--menu::after {
    display: none;
  }

  .nav--menu {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
  }

  .copyright {
    bottom: 0.8rem;
    right: inherit;
    left: 5rem;
  }
}
